<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Nuevo Alumno
    <small><%= @alumno.rut %></small>
  </h1>
  <ol class="breadcrumb">
    <li>
    <%= link_to alumnos_path do %>
      <i class="fa fa-graduation-cap"></i>Alumnos
    <% end -%>
    </li>
    <li>
    	Nuevo Alumno
    </li>

  </ol>
</section>

<!-- Main content -->
<section class="content">
	<%= render 'form' %>
</section><!-- /.content -->
