<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Nuevo Usuario
    <small>Llene todos los datos para crear nuevo usuario</small>
  </h1>
  <ol class="breadcrumb">
    <li>
    <%= link_to users_path do %>
      <i class="fa fa-users"></i>Usuarios
    <% end -%>
    </li>
    <li>
    <%= link_to new_user_path do %>
      Nuevo Usuario
    <% end -%>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	<%= render 'form' %>
</section><!-- /.content -->
