<% content_for :head do %>
  <%= javascript_include_tag "jsoneditor.js" %>
<% end %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Nuevo Mapa
    <small>Llene todos los datos para crear nuevo mapa</small>
  </h1>
  <ol class="breadcrumb">
    <li>
    <%= link_to mapas_path do %>
      <i class="fa fa-map"></i>Mapas
    <% end -%>
    </li>
    <li>
    <%= link_to new_mapa_path do %>
      Nuevo Mapa
    <% end -%>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-body">
      <div id='editor_holder'></div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button id='submit' class="btn btn-primary">Enviar Mapa</button>
    </div><!-- /.box-footer-->
  </div><!-- /.box -->
</section><!-- /.content -->
<% if @mapa.mapa
 <%= content_tag :div, id: 'current-json', data: {json: @mapa.mapa} do %>
 <% end %>
<% end %>



<script>
  var currentMap = ($('#current-json').data('json'));
  var editor;

  $.getJSON('/schema.json', function(jsonSchema) {
    editor = new JSONEditor(document.getElementById('editor_holder'),{
      theme: 'bootstrap3',
      disable_edit_json: true,
      disable_collapse: true,
      disable_properties: true,
      no_additional_properties: true,
      language : "es",
      schema: jsonSchema
    });
    editor.setValue(currentMap);
  });

  // Initialize the editor with a JSON schema
  
  // Hook up the submit button to log to the console
  document.getElementById('submit').addEventListener('click',function() {
    // Get the value from the editor
    var json = editor.getValue();
    var mapa = {mapa: {mapa: JSON.stringify(json), currentMap: 1}};

    $.ajax({
      url: "/mapas",
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $("meta[name='csrf-token']").attr("content"))},
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      data: JSON.stringify(mapa),
      success: function(data) { alert("El Mapa fue guardado correctamente") },
      error: function(ts) { alert(ts.responseText) }

    })
  });
</script>
